<p id="notice"><%= notice %></p>

<p>
  <strong class="title">Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong class="title_body">Body:</strong>
  <%= @post.body %>
</p>

<div id="comments" class="post_body">
  <% render :partial => @post.comments.reverse %>
</div>

<div class="form_body">
<%= form_for([@post, Comment.new], remote: true) do |f| %>

    <p> <%= f.label :body, "New Comment" %> <br />

        <%= f.text_area :body %>

    </p>

    <p>
      <%= f.submit "Add Comment" %>
    </p>

<% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
